/**
  categories 页面样式
*/

.category-list {
  font-size: large;
  list-style: none;
}

.category-list .category-list-count {
  font-size: small;
  color: #555;
  font-weight: bold;
  line-height: 1;
  margin-left: 6px;
  padding: 1px 4px;
}