/*

Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401

*/

pre,
code {
  font-family: consolas, Menlo, monospace, 'PingFang SC', 'Microsoft YaHei';
}
code {
  border-radius: 3px;
  font-size: 0.875em;
  padding: 2px 4px;
  overflow-wrap: break-word;
}
figure.highlight {
  overflow: auto;
  position: relative;
  background-color: #fff;
  border-radius: calc(var(--bs-border-radius));
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
figure.highlight pre {
  border: 0;
  margin: 0;
  padding: 10px 0;
}
figure.highlight table {
  border: 0;
  margin: 0;
  width: auto;
}
figure.highlight td {
  border: 0;
  padding: 0;
}
figure.highlight .gutter {
  -webkit-user-select: none;
  user-select: none;
}
figure.highlight .gutter pre {
  background: var(--highlight-gutter-background);
  color: var(--highlight-gutter-foreground);
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
  border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
figure.highlight .marked {
  background: rgba(0,0,0,0.3);
}
pre .caption {
  margin-bottom: 10px;
}
.gist table {
  width: auto;
}
.gist table td {
  border: 0;
}
pre {
  overflow: auto;
  padding: 10px;
}
pre code {
  background: none;
  padding: 0;
  text-shadow: none;
}
.comment,
.quote {
  color: #a0a1a7;
  font-style: italic;
}
.doctag,
.keyword,
.formula {
  color: #a626a4;
}
.section,
.name,
.selector-tag,
.deletion,
.subst {
  color: #e45649;
}
.literal {
  color: #0184bb;
}
.string,
.regexp,
.addition,
.attribute,
.meta .string {
  color: #50a14f;
}
.attr,
.variable,
.template-variable,
.type,
.selector-class,
.selector-attr,
.selector-pseudo,
.number {
  color: #986801;
}
.symbol,
.bullet,
.link,
.meta,
.selector-id,
.title {
  color: #4078f2;
}
.built_in,
.title.class_,
.class .title {
  color: #c18401;
}
.emphasis {
  font-style: italic;
}
.strong {
  font-weight: bold;
}
.link {
  text-decoration: underline;
}