/* 引入高亮配色 */
@import 'highlight-color-atom';

/* 代码块标题样式 */
figure figcaption {
  padding: 3px 6px;
  background-color: var(--bs-tertiary-bg);
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

/* 代码块增加边框背景色 */
figure.highlight {
  background-color: var(--bs-body-bg);
  border-radius: calc(var(--bs-border-radius));
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

/* 修正代码块边距 */
figure.highlight .code pre {
  padding: 10px;
  width: 100%;
}

/* 单行代码块增加边框 */
code {
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

code {
  border-radius: 3px;
  font-size: 0.875em;
  padding: 2px 4px;
  overflow-wrap: break-word;
}

figure.highlight {
  overflow: auto;
  position: relative;
}

figure.highlight pre {
  border: 0;
  margin: 0;
  padding: 10px 0;
}

figure.highlight table {
  border: 0;
  margin: 0;
  width: auto;
}

figure.highlight td {
  border: 0;
  padding: 0;
}

/* 行号列表 */
figure.highlight .gutter pre {
  background: var(--highlight-gutter-background);
  color: var(--highlight-gutter-foreground);
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
  border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

/* 禁用行号选择 */
figure.highlight .gutter {
  -webkit-user-select: none;
  user-select: none;
}

pre .caption {
  margin-bottom: 10px;
}

.gist table {
  width: auto;
}

.gist table td {
  border: 0;
}

pre {
  overflow: auto;
  padding: 10px;
}

pre code {
  background: none;
  padding: 0;
  text-shadow: none;
}

figure.highlight .marked {
  background: rgba(0, 0, 0, 0.3);
}