@import '_common/highlight';

/* 确保所有文本内容都能正确换行 */
body {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

/* 主题切换颜色时平滑过渡 */
.theme-transition {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease !important;
}

/* 主题切换LOGO显示 */
.logo-light {
  display: unset;
}

.logo-dark {
  display: none;
}

[data-bs-theme="dark"] .logo-light {
  display: none;
}

[data-bs-theme="dark"] .logo-dark {
  display: unset;
}

/* 引用块样式 */
.blockquote {
  padding: .75rem;
  border-left: .25rem solid var(--bs-border-color, var(--bs-gray-300));
}

/* checkbox 列表对齐 */
ul li:has(input[type="checkbox"]) {
  list-style: none;
  margin-left: -1em;
}

.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 999;
}

.back-to-top:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
}

.category-list {
  font-size: large;
  list-style: none;
}

.category-list .category-list-count {
  font-size: small;
  color: #555;
  font-weight: bold;
  line-height: 1;
  margin-left: 6px;
  padding: 1px 4px;
}