@import '_common/highlight';
@import '_common/category';
@import 'fix-bootstrap';

/* 修改字体默认以 NotoSansFont 开始 */
* {
  font-family: "Noto Sans", "Noto Sans SC", sans-serif, "Segoe UI", Roboto, "Helvetica Neue", "Liberation Sans", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* 确保所有文本内容都能正确换行 */
body {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

/* 主题切换颜色时平滑过渡 */
.theme-transition {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease !important;
}

/* 主题切换LOGO显示 */
.logo-light {
  display: unset;
}

.logo-dark {
  display: none;
}

[data-bs-theme="dark"] .logo-light {
  display: none;
}

[data-bs-theme="dark"] .logo-dark {
  display: unset;
}

/* 引用块样式 */
.blockquote {
  padding: .75rem;
  border-left: .25rem solid var(--bs-border-color, var(--bs-gray-300));
}

/* 修正列表对齐(含带有checkbox的列表) */
ol, ul li:has(input[type="checkbox"]) {
  list-style: none;
  margin-left: -1em;
}